
body {
	//padding-top: 140px;
}

.event-container{
	width:100%;  
	top:40px; 
	left:0px; 
	#gradient > .vertical(#999, #FFF);
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('BebasNeue-webfont.eot');
    src: url('BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('BebasNeue-webfont.woff') format('woff'),
         url('BebasNeue-webfont.ttf') format('truetype'),
         url('BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.runner-navbar{

	background-image: linear-gradient(bottom, rgb(34,96,168) 12%, rgb(32,92,196) 100%, rgb(52,138,191) 91%);
	background-image: -o-linear-gradient(bottom, rgb(34,96,168) 12%, rgb(32,92,196) 100%, rgb(52,138,191) 91%);
	background-image: -moz-linear-gradient(bottom, rgb(34,96,168) 12%, rgb(32,92,196) 100%, rgb(52,138,191) 91%);
	background-image: -webkit-linear-gradient(bottom, rgb(34,96,168) 12%, rgb(32,92,196) 100%, rgb(52,138,191) 91%);
	background-image: -ms-linear-gradient(bottom, rgb(34,96,168) 12%, rgb(32,92,196) 100%, rgb(52,138,191) 91%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.12, rgb(34,96,168)),
		color-stop(1, rgb(32,92,196)),
		color-stop(0.91, rgb(52,138,191))
	);

	border-bottom: 3px solid #333;
}

.runner-navbar-inner{
  font-family: BebasNeueRegular, Helvetica, Arial, sans-serif;
	color:white;
	font-size: 42px;
	font-weight: bold;
	line-height: 60px;	

	a {
		color: #FFF;
	}
	
	a:hover{
		text-decoration: none;
	}
}



.runner-brand{
	position:absolute; 
	left: 20%;
	top: 50px;
	color: #fff;
	height: 30px;
}

.runner-header {
	height: 125px;
	background: #333;
	background-image: url("/img/road.jpg"); /* fallback */
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.87)), to(rgba(153, 153, 153, 0))), url("/img/road.jpg"); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(top, #444444, #999999), url("/img/road.jpg"); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(top, #444444, #999999), url("/img/road.jpg"); /* FF3.6+ */
	background-image: -ms-linear-gradient(top, #444444, #999999), url("/img/road.jpg"); /* IE10 */
	background-image: -o-linear-gradient(top, #444444, #999999), url("/img/road.jpg"); /* Opera 11.10+ */
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.87)), to(rgba(153, 153, 153, 0))), url("/img/road.jpg");
}









