<!DOCTYPE html>
<html lang="en">  
<head>  
<meta charset="utf-8">  
	<title>Running Man</title>  
	<meta name="viewport" content="width=device-width, initial-scale=1.0">  
	<meta name="description" content="">  
	<meta name="author" content="">  
	<link rel="stylesheet" type="text/css" href="css/styles.css" />

	<script type="text/template" id="tpl-runner-list-item">
		<li><a href='#results/<%= runner_id %>'><%= lastname %>, <%= firstname %></a></li>
	</script>

	<script type="text/template" id="tpl-race-list-item">

		<div class="row">
  	  <div class="span12">
				<div><%= date %> - <a href='#race/<%= event.event_id %>/<%= race_id %>'><%= event.name %></a></div>
			</div>
  	</div>
		
	</script>

	<script type="text/template" id="tpl-event-info">
		<div class="row">
      			<div class="span6">
				<h1><%= event.name %></h1>
				<div id="race-date" style="display:inline-block"></div>
			</div>
      			<div class="span4 offset2">
				Select Year : <select id="event-info-year-select" style="width:100px"></select>
    			</div>	
		</div>	
	</script>

	<script type="text/template" id="tpl-loading">
		<div style="text-align:center">
			<p><img src="img/loading.gif"></p>
			Loading Results...
		</div>
	</script>

	<script type="text/template" id="tpl-race-info">
		<h1><%= event.name %></h1>
		<p><%= date %></p>
		<p><%= location %></p>
	</script>

	<script type="text/template" id="tpl-runner-results-list">
		<table>
			<thead>
				<tr>
					<th>Year</th>
					<th>Race</th>
					<th>Overall</th>
					<th>Sex Place</th>
					<th>Bib</th>
					<th>Time</th>
					<th>Pace</th>
				</tr>
			</thead>
			<tbody>
		
			</tbody>
		</table>
	</script>

	<script type="text/template" id="tpl-race-results-list">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Overall</th>
					<th>Bib</th>
					<th>Name</th>
					<th>Time</th>
					<th>Sex</th>
					<th>Pace</th>
				</tr>
			</thead>
			<tbody>
		
			</tbody>
		</table>
	</script>

	<script type="text/template" id="tpl-runner-results-list-item">
			<td><%= race.year %></td>			
			<td><a href='#race/<%= race.race_id %>'><%= event.name %></a></td>
			<td><%= overallplace %></td>
			<td><%= sexplace %></td>
			<td><%= bibnumber %></td>
			<td><%= raceTime %></td>
			<td><%= paceTime %></td>
	</script>

	<script type="text/template" id="tpl-race-results-list-item">
		<td><%= overallplace %></td>
		<td><%= bibnumber %></td>
		<td><a href='#results/<%= runner.runner_id %>'><%= runner.firstname %> <%= runner.lastname %></a></td>
		<td><%= raceTime %></td>
		<td><%= runner.sex %>(<%= sexplace %>)</td>
		<td><%= paceTime %></td>
	</script>


</head>
<body>

<div class="container-fluid runner-header">
	<div class="container">
		<div class="row">
			<div class="span8" style="color:white;"><h1>Running Man</h1><h3>Newfoundland Road Running Results</h3></div>			
			<div class="span4"><img src="img/runners.png" class="hidden-phone" style="margin-top: -40px;"></div>
		</div>	
	</div>
</div>

<div class="container-fluid runner-navbar">
	<div class="container">
		<div class="row">
			<div class="span12 runner-navbar-inner">
				<div class="row">
      		<div class="span2"><a href="#">HOME</a></div>
      		<div class="span2"><a href="#races">RACES</a></div>
					<div class="span2"><a href="#">SEARCH</a></div>
					<div class="span2"><a href="#">ABOUT</a></div>
					<div class="span4"></div>
    		</div>
			</div>
		</div>
	</div>
</div>


<div class="container" id="v-home">
  <div class="row">
    <div class="span12">
			<div class="hero-unit">
  			<h1>Road Racing Results... Organized</h1>
  			<p>This paragraph contains important ... </p>
			</div>
		</div>
  </div>
</div>

<div id="v-races">
	<div class="container" id="race-list">
  	
	</div>
</div>

<div id="v-event">
	<div class="event-container">
		<div class="container">
  			<div class="row">
    				<div class="span12" id="event-info" style="margin-top: 20px"></div>
			</div>
  		</div>
	</div>
	<div class="race-container">
		<div class="container">
			<div class="row">
				<div class="span12" id="race-results" style="margin-top: 20px"></div>
			</div>
		</div>
	</div>
</div>

<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone.js"></script>
<script src="js/moment.min.js"></script>
<script src="js/utils.js"></script>
<script src="js/app.js"></script>

</body>
</html>
